<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-image: url(/images/sky.jpg);
            background-size: cover;
            background-position: center;
            margin: 0;
        }
        .container {
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        .dropdown {
            margin: 10px 0;
            width: 90%; /* Extender al 90% del ancho de la pantalla */
            margin-left: auto;
            margin-right: auto;
        }
        .btn {
            background-color: #007bff;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            text-align: left;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .content {
            display: none;
            background-color: #e9ecef;
            padding: 10px;
            border-radius: 5px;
            margin-top: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <header>
        <!-- Barra de Navegación -->
        <nav class="bg-white shadow-md w-full">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <a href="inicio" class="text-blue-600 text-2xl font-bold">AirSensePro</a>
                        <img src="/images/logo.png" class="ml-2" alt="logo" width="50px" />
                    </div>
                    <div class="md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="inicio" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                            <a href="mapa" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Mapa</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1 class="text-green-600 text-5xl font-bold">Información Adicional Ambiental</h1>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('co')">Monóxido de carbono (CO)</button>
            <div id="co" class="content">
                <p>El monóxido de carbono (CO) es un gas incoloro, inodoro y altamente tóxico que se produce principalmente
                por la combustión incompleta de combustibles fósiles, como gasolina, carbón, gas natural y madera. 
                Se encuentra en emisiones de vehículos, chimeneas, estufas y procesos industriales. Su peligrosidad 
                radica en que se une a la hemoglobina en la sangre con una afinidad mucho mayor que el oxígeno, lo que 
                puede provocar intoxicación y, en casos severos, la muerte.</p>
                    <br>
                <p>Las mediciones se expresan típicamente en partes por millón (ppm) o miligramos por metro cúbico (mg/m³).</p>
                    <br>
                <p>
                <strong>Niveles seguros (buenos):</strong>
                <li>0-2 ppm: Considerados normales y seguros para la salud.</li>
                    <br>
                <strong>Niveles de alerta (moderados):</strong>
                <li>2-9 ppm: Puede ser necesario tomar precauciones, especialmente en espacios cerrados o mal ventilados.</li>
                    <br>
                <strong>Niveles peligrosos (malos):</strong>
                <li>9-35 ppm: Exposición prolongada puede causar efectos adversos en la salud, incluyendo dolores de cabeza y mareos.</li>
                <li>Más de 35 ppm: Puede causar síntomas más graves y potencialmente mortales, especialmente con exposición prolongada.</li>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('puntoRocio')">Punto de rocío</button>
            <div id="puntoRocio" class="content">
                <p>El punto de rocío es la temperatura a la cual el aire debe enfriarse (a presión constante) para que 
                    el vapor de agua presente en él se condense en forma de agua líquida. Es un indicador clave de la 
                    humedad en el aire. Cuando la temperatura del aire desciende hasta el punto de rocío, la humedad 
                    relativa alcanza el 100%, lo que significa que el aire está completamente saturado con vapor de 
                    agua.</p>
                    <br>
                <p>El punto de rocío se mide en grados Celsius (°C). Esta medida representa la temperatura a la que el
                    aire se satura y comienza a condensarse en forma de agua.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('humedadRelativa')">Humedad relativa</button>
            <div id="humedadRelativa" class="content">
                <p>La humedad relativa es la cantidad de vapor de agua presente en el aire en comparación con la cantidad 
                    máxima que el aire puede contener a una temperatura específica. Se expresa como un porcentaje (%).
                </p>
                    <br>
                <p>
                    Por ejemplo, una humedad relativa del 50% significa que el aire contiene la mitad de la cantidad de 
                    vapor de agua que podría sostener a esa temperatura.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('dioxidoNitrógeno')">Dióxido de nitrógeno (NO₂)</button>
            <div id="dioxidoNitrógeno" class="content">
                <p>El dióxido de nitrógeno es un gas contaminante que se forma principalmente a partir de la 
                    combustión de combustibles fósiles, como en vehículos y centrales eléctricas. Es un componente 
                    importante del smog y puede tener efectos negativos en la salud humana y el medio ambiente, 
                    contribuyendo a problemas respiratorios y a la formación de lluvia ácida.
                </p>
                <br>
                <p>El dióxido de nitrógeno se mide generalmente en partes por millón (ppm) o microgramos por metro
                    cúbico (µg/m³).
                </p>
                <br>
                <p>
                    <strong>Niveles buenos (baja contaminación):</strong>
                        <li>0 - 40 µg/m³ (0 - 0.02 ppm): El aire es considerado limpio y no presenta riesgos para la salud.</li>
                            <br>
                    <strong>Niveles moderados:</strong>
                        <li>41 - 80 µg/m³ (0.02 - 0.04 ppm): Puede haber algún riesgo para grupos sensibles, como personas 
                            con asma o problemas respiratorios, pero el público en general no suele verse afectado.</li>
                            <br>
                    <strong>Niveles altos (mala calidad del aire):</strong>
                        <li>81 - 180 µg/m³ (0.04 - 0.09 ppm): Los efectos en la salud pueden comenzar a ser evidentes, 
                            especialmente para personas vulnerables. Se recomienda limitar actividades al aire libre.</li>
                            <br>
                    <strong>Niveles muy altos (alta contaminación):</strong>
                        <li>181 µg/m³ o más (0.09 ppm o más): Puede haber efectos adversos en la salud para la población 
                            general. Se aconseja evitar la exposición prolongada y actividades al aire libre.</li>
                </p>
            </div>  
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('ozono')">Ozono (O₃)</button>
            <div id="ozono" class="content">
                <p>El ozono es un gas que se encuentra en la atmósfera y tiene un papel dual. En la estratosfera, 
                    el ozono forma la capa de ozono, que protege la Tierra de la radiación ultravioleta del sol. 
                    Sin embargo, en la troposfera (donde respiramos), el ozono es un contaminante que se forma a 
                    partir de reacciones químicas entre contaminantes como óxidos de nitrógeno y compuestos orgánicos 
                    volátiles, especialmente en presencia de luz solar.
                </p>
                <br>
                <p>El ozono se mide en partes por millón (ppm) o microgramos por metro cúbico (µg/m³)</p>
                <br>
                <p>
                    <strong>Niveles buenos (baja contaminación):</strong>
                        <li>0 - 50 µg/m³ (0 - 0.025 ppm): El aire es considerado limpio y no presenta riesgos para la salud.</li>
                            <br>
                    <strong>Niveles moderados:</strong>
                        <li>51 - 100 µg/m³ (0.025 - 0.05 ppm): Puede haber un riesgo bajo para grupos sensibles, como personas
                             con problemas respiratorios. La mayoría de las personas no se ven afectadas.</li>
                            <br>
                    <strong>Niveles insalubres (alta contaminación):</strong>
                        <li>101 - 180 µg/m³ (0.05 - 0.09 ppm): Se pueden observar efectos en la salud en grupos sensibles. 
                            Se recomienda limitar actividades al aire libre.</li>
                            <br>
                    <strong>Niveles muy altos (mala calidad del aire):</strong>
                        <li>181 - 240 µg/m³ (0.09 - 0.12 ppm): Puede haber efectos adversos en la salud para la población 
                            general. Se aconseja evitar la exposición prolongada y actividades al aire libre.</li>
                            <br>
                    <strong>Niveles peligrosos (alta contaminación):</strong>
                        <li>241 µg/m³ o más (0.12 ppm o más): Los efectos adversos son significativos para todos, y se 
                            recomienda evitar la actividad física al aire libre.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('presionAtmosferica')">Presión atmosférica</button>
            <div id="presionAtmosferica" class="content">
                <p>La presión atmosférica es el peso del aire que se encuentra sobre una superficie en un momento dado. 
                    Es el resultado de la fuerza que ejercen las moléculas de aire al colisionar con una superficie. 
                    La presión atmosférica varía según la altitud y las condiciones meteorológicas.
                </p>
                <br>
                <p>La presión atmosférica se mide en hectopascales (hPa) y el valor que se obtiene tiene 
                    varias implicaciones sobre las condiciones del aire en la ciudad.
                </p>
                <br>
                <p>
                    <strong>Presión baja (700 hPa y menos):</strong>
                        <li>Puede estar relacionado con condiciones climáticas inestables, tormentas o mal tiempo.</li>
                            <br>
                    <strong>Presión media (800-900 hPa):</strong>
                        <li>Común en ciudades a gran altitud, indica condiciones relativamente estables.</li>
                            <br>
                    <strong>Presión alta (1000 hPa y más):</strong>
                        <li>Generalmente sugiere un sistema de alta presión, que suele estar asociado con buen tiempo.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('pm10')">PM10</button>
            <div id="pm10" class="content">
                <p>El PM10 se refiere a las partículas en suspensión en el aire que tienen un tamaño de 10 micrómetros 
                    o menos. Para que te hagas una idea, un micrómetro es una millonésima parte de un metro, así que 
                    estas partículas son muy pequeñas, alrededor de una décima del grosor de un cabello humano.
                </p>
                <br>
                <p>
                    Estas partículas pueden provenir de diversas fuentes, como:
                    <li><strong>Tráfico vehicular:</strong> El polvo y las emisiones de los autos.</li> 
                    <li><strong>Construcción:</strong> El polvo generado por obras.</li> 
                    <li><strong>Fuegos y quema de residuos:</strong> El humo y las cenizas.</li> 
                    <li><strong>Naturaleza:</strong> El polvo del suelo y polen</li>
                </p>
                <br>
                <p>
                    Los niveles de PM10 se miden en microgramos por metro cúbico (µg/m³) y generalmente se clasifican
                    de la siguiente manera:
                </p>
                <br>
                <p>
                 <li><strong>Buena:</strong>  0-50 µg/m³</li>
                 <li><strong>Moderada:</strong>  51-100 µg/m³</li>
                 <li><strong>No saludable para grupos sensibles:</strong>  101-150 µg/m³</li>
                 <li><strong>No saludable:</strong>  151-200 µg/m³</li>
                 <li><strong>Peligroso:</strong>  201-300 µg/m³</li>
                 <li><strong>Muy Peligroso:</strong>  más de 300 µg/m³</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('pm25')">PM2.5</button>
            <div id="pm25" class="content">
                <p>
                    El PM2.5 se refiere a las partículas en suspensión en el aire que tienen un tamaño de 2.5 micrómetros 
                    o menos. Para que lo entiendas, estas partículas son mucho más pequeñas que un cabello humano; son 
                    tan pequeñas que pueden entrar en tus pulmones cuando respiras. Debido a su tamaño, el PM2.5 puede 
                    ser muy dañino para la salud. Puede causar problemas respiratorios, irritación en los ojos y en la 
                    garganta, e incluso afectar al corazón.
                </p>
                <br>
                <p>
                    El PM2.5 puede venir de varias fuentes, como:

                  <li><strong>Contaminación del tráfico:</strong> Los gases y el polvo de los autos.</li>
                  <li><strong>Industrias:</strong> Las fábricas que emiten humo.</li>
                  <li><strong>Quema de basura o de madera:</strong> El humo que se genera.</li>
                  <li><strong>Naturaleza:</strong> Como el polvo del suelo y cenizas de incendios.</li>
                </p>
                <br>
                <p>
                    El PM2.5 se mide en microgramos por metro cúbico (µg/m³), que indica la cantidad de partículas 
                    presentes en un metro cúbico de aire.
                </p>
                <br>
                <p>
                    Los niveles de PM2.5 se clasifican de la siguiente manera:
                   <li><strong>Buena:</strong> 0-12 µg/m³</li>
                   <li><strong>Moderada:</strong> 13-35 µg/m³</li>
                   <li><strong>No saludable para grupos sensibles:</strong> 36-55 µg/m³</li>
                   <li><strong>No saludable:</strong> 56-150 µg/m³</li>
                   <li><strong>Peligroso:</strong> 151-250 µg/m³</li>
                   <li><strong>Muy Peligroso:</strong> más de 250 µg/m³</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('lluvia')">Lluvia (precipitación)</button>
            <div id="lluvia" class="content">
                <p>La precipitación se refiere al agua que cae desde la atmósfera a la superficie de la Tierra en 
                    forma de lluvia, nieve, aguanieve o granizo. La forma más común de precipitación en climas 
                    templados es la lluvia.
                </p>
                <br>
                <p>La precipitación se mide principalmente en centímetros (cm)</p>
                <br>
                <p>Por ejemplo, si se dice que ha caído 1 cm de lluvia, significa que, si se distribuyera uniformemente 
                    sobre una superficie plana y sellada, habría una capa de agua de 1 cm de altura.
                </p>
                <br>
                <p>
                    <strong>0 - 1 cm:</strong>
                        <li>Lluvias muy ligeras, generalmente sin acumulación significativa.</li>
                            <br>
                    <strong>1 - 2.5 cm:</strong>
                        <li> Lluvias ligeras a moderadas, que pueden empapar el suelo.</li>
                            <br>
                    <strong>2.5 - 5 cm:</strong>
                        <li>Lluvias fuertes, que pueden causar escorrentía y acumulación de agua.</li>
                            <br>
                    <strong>5 cm o más:</strong>
                        <li>Lluvias muy fuertes o torrenciales, que pueden causar inundaciones y otros problemas.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('dioxidoAzufre')">Dióxido de azufre (SO₂)</button>
            <div id="dioxidoAzufre" class="content">
                <p>
                    El dióxido de azufre (SO₂) es un gas incoloro con un olor fuerte y penetrante. Se produce 
                    principalmente a partir de actividades humanas, como la quema de combustibles fósiles 
                    (carbón, petróleo y gas) en centrales eléctricas, vehículos y procesos industriales. También 
                    puede generarse de forma natural, por ejemplo, durante erupciones volcánicas.
                </p>
                <br>
                <p>
                    Los niveles de dióxido de azufre en el aire se miden en microgramos por metro cúbico (µg/m³)
                </p>
                <br>
                <p>
                    Los niveles de Dióxido de Azufre (SO₂) se clasifican de la siguiente manera:
                    <br>
                    <strong>Buena: 0 - 50 µg/m³</strong>
                        <li>El aire es limpio y saludable</li>
                    <br>
                    <strong>Moderada: 51 - 100 µg/m³</strong>
                        <li>El aire está aceptable, pero algunos pueden tener problemas</li>
                    <br>
                    <strong>No saludable para grupos sensibles: 101 - 150 µg/m³</strong>
                        <li>Personas con problemas de salud pueden experimentar efectos</li>
                    <br>
                    <strong>No saludable: 151 - 250 µg/m³</strong>
                        <li>Todos pueden empezar a tener problemas de salud</li>
                    <br>
                    <strong>Peligroso: 251 - 350 µg/m³</strong>
                        <li>Se recomienda evitar actividades al aire libre</li>
                    <br>
                    <strong>Muy Peligroso: más de 350 µg/m³</strong>
                        <li>Puede afectar a todos y es mejor quedarse en interiores</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('temperatura')">Temperatura</button>
            <div id="temperatura" class="content">
                <p>
                    La temperatura en el aire es una medida de cuán caliente o frío está el aire en un lugar determinado. 
                    Se relaciona con la energía térmica de las moléculas en el aire: a mayor energía, mayor temperatura.
                </p>
                <br>
                <p>
                    La temperatura se mide en grados Celsius (°C)
                </p>
                <br>
                <p>
                    Medidas de Temperatura:
                     <li><strong>0 °C:</strong> Congelante. Agua se convierte en hielo.</li>
                     <li><strong>5 °C:</strong> Muy fresco. Necesitas abrigo.</li>
                     <li><strong>10 °C:</strong> Fresco. Se recomienda un suéter.</li>
                     <li><strong>15 °C:</strong> Templado. Ropa ligera o chaqueta.</li>
                     <li><strong>20 °C:</strong> Cálido. Ideal para ropa de verano.</li>
                     <li><strong>25 °C:</strong> Cálido. Cómodo para actividades al aire libre.</li>
                     <li><strong>30 °C:</strong> Caliente. Puede ser incómodo si hay humedad.</li>
                     <li><strong>35 °C:</strong> Muy caliente. Riesgo de deshidratación, especialmente bajo el sol.</li>
                     <li><strong>40 °C:</strong> Extremadamente caliente. Necesitas protegerte del calor.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('viento')">Viento</button>
            <div id="viento" class="content">
                <p>
                    El viento es el movimiento del aire en la atmósfera, que se genera principalmente por diferencias 
                    de presión atmosférica. Estas diferencias se producen debido al calentamiento desigual de la 
                    superficie terrestre por el sol.
                </p>
                <br>
                <p>
                    El viento se mide generalmente en metros por segundo (m/s).
                </p>
                <br>
                <p>
                    Medidas de velocidades del viento:
                    <br>
                  <li><strong>0.0 - 0.5</strong>	Calma: el aire está en reposo.</li>
                  <li><strong>0.6 - 2.5</strong>	Brisa muy ligera: apenas se siente el viento.</li>
                  <li><strong>2.6 - 5.5</strong>	Brisa ligera: se mueve el follaje, se puede sentir el viento.</li>
                  <li><strong>5.6 - 8.0</strong>	Brisa moderada: se mueven ramas pequeñas, puede afectar actividades al aire libre.</li>
                  <li><strong>8.1 - 10.7</strong>	Brisa fresca: se mueven ramas grandes, puede dificultar el manejo de paraguas.</li>
                  <li><strong>10.8 - 13.8</strong>	Viento fuerte: se pueden romper ramas, se dificulta caminar contra el viento.</li>
                  <li><strong>13.9 - 17.1</strong>	Viento muy fuerte: daños menores a estructuras y árboles.</li>
                  <li><strong>17.2 - 20.6</strong>	Viento fuerte: pueden caerse árboles pequeños y provocar daños.</li>
                  <li>  <strong>Más de 20.6</strong>	Viento muy fuerte o huracanado: puede causar daños significativos.</li>
                </p>
                <br>
                <p>
                    Esta clasificación se basa en la escala de Beaufort, que es una forma común de describir la fuerza del viento.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('direccionViento')">Dirección del viento</button>
            <div id="direccionViento" class="content">
                <p>
                    La dirección del viento se refiere al origen del viento, es decir, de dónde sopla. Se mide en 
                    grados desde el norte, en una escala de 0° a 360°. Por ejemplo:
                    <br>
                   <li><strong>0°</strong> indica que el viento sopla del norte.</li>
                   <li><strong>90°</strong> significa que sopla del este.</li>
                   <li><strong>180°</strong> indica que sopla del sur.</li>
                   <li><strong>270°</strong> significa que sopla del oeste.</li>
                </p>
                <br>
                <p>
                    Aquí tienes una lista más completa de las direcciones del viento con sus respectivos grados:
                </p>
                <br>
                <p>
                   <li><strong>0°:</strong> Norte</li>
                   <li><strong>45°:</strong> Noreste</li>
                   <li><strong>90°:</strong> Este</li>
                   <li><strong>135°:</strong> Sureste</li>
                   <li><strong>180°:</strong> Sur</li>
                   <li><strong>225°:</strong> Suroeste</li>
                   <li><strong>270°:</strong> Oeste</li>
                   <li><strong>315°:</strong> Noroeste</li>
                </p>
                <br>
                <p>
                    Además, aquí tienes algunas combinaciones que indican direcciones intermedias:
                </p>
                <br>
                <p>
                  <li><strong>22.5°:</strong> Norte-Noreste</li>
                  <li><strong>67.5°:</strong> Este-Noreste</li>
                  <li><strong>112.5°:</strong> Este-Sureste</li>
                  <li><strong>157.5°:</strong> Sur-Sureste</li>
                  <li><strong>202.5°:</strong> Sur-Suroeste</li>
                  <li><strong>247.5°:</strong> Oeste-Suroeste</li>
                  <li><strong>292.5°:</strong> Oeste-Noroeste</li>
                  <li><strong>337.5°:</strong> Norte-Noroeste</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('rafagasViento')">Ráfagas de viento</button>
            <div id="rafagasViento" class="content">
                <p>
                    Las ráfagas de viento son aumentos repentinos y breves en la velocidad del viento. Estas ráfagas 
                    pueden ocurrir en cualquier momento y suelen ser más intensas que la velocidad promedio del viento 
                    en ese momento.
                </p>
                <br>
                <p>
                    Las ráfagas de viento se miden en unidades de velocidad, típicamente en metros por segundo (m/s). 
                </p>
                <br>
                <p>
                    Medidas de velocidades de las ráfagas de viento:
                    <br>
                    <li><strong>0.0 - 0.5</strong> Calma: no hay ráfagas perceptibles.</li>
                    <li><strong>0.6 - 2.5</strong> Ráfagas muy ligeras: apenas perceptibles.</li>
                    <li><strong>2.6 - 5.5</strong> Ráfagas ligeras: se siente un movimiento leve en el follaje.</li>
                    <li><strong>5.6 - 8.0</strong> Ráfagas moderadas: se mueven ramas pequeñas, puede afectar actividades al aire libre.</li>
                    <li><strong>8.1 - 10.7</strong> Ráfagas frescas: se mueven ramas grandes, puede dificultar el uso de paraguas.</li>
                    <li><strong>10.8 - 13.8</strong> Ráfagas fuertes: pueden romper ramas pequeñas, dificultad al caminar contra el viento.</li>
                    <li><strong>13.9 - 17.1</strong> Ráfagas muy fuertes: pueden causar daños menores a estructuras y árboles.</li>
                    <li><strong>Más de 17.2</strong> Ráfagas severas: pueden causar daños significativos a árboles y estructuras.</li>
                </p>
            </div>
        </div>
    </div>
    <script>
        function toggleContent(id) {
            const content = document.getElementById(id);
            const isVisible = content.style.display === 'block';
            content.style.display = isVisible ? 'none' : 'block';
        }
    </script>
</body>
</html>
