<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" type="image/png" href="/images/logo.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Info</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
    <link href="/style.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-image: url(/images/sky.jpg);
            background-size: cover;
            background-position: center;
            margin: 0;
        }
        .container {
            text-align: center;
            padding: 20px;
            margin-top: 20px;
        }
        .dropdown {
            margin: 10px 0;
            width: 90%; /* Extender al 90% del ancho de la pantalla */
            margin-left: auto;
            margin-right: auto;
        }
        .btn {
            background-color: #007bff;
            color: white;
            padding: 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            width: 100%;
            text-align: left;
            font-size: 16px;
            transition: background-color 0.3s;
        }
        .btn:hover {
            background-color: #0056b3;
        }
        .content {
            display: none;
            background-color: #e9ecef;
            padding: 10px;
            border-radius: 5px;
            margin-top: 5px;
            text-align: left;
        }
    </style>
</head>
<body>
    <header>
        <!-- Barra de Navegación -->
        <nav class="bg-white shadow-md w-full">
            <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
                <div class="flex items-center justify-between h-16">
                    <div class="flex items-center">
                        <a href="inicio" class="text-blue-600 text-2xl font-bold">AirSensePro</a>
                        <img src="/images/logo.png" class="ml-2" alt="logo" width="50px" />
                    </div>
                    <div class="md:block">
                        <div class="ml-10 flex items-baseline space-x-4">
                            <a href="inicio" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                            <a href="mapa" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Mapa</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <h1  class="text-green-600 text-5xl font-bold">Información Adicional Ambiental</h1>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('co')">Monóxido de carbono (CO)</button>
            <div id="co" class="content">
                <p>El monóxido de carbono (CO) es un gas incoloro, inodoro y altamente tóxico que se produce principalmente
                por la combustión incompleta de combustibles fósiles, como gasolina, carbón, gas natural y madera. 
                Se encuentra en emisiones de vehículos, chimeneas, estufas y procesos industriales. Su peligrosidad 
                radica en que se une a la hemoglobina en la sangre con una afinidad mucho mayor que el oxígeno, lo que 
                puede provocar intoxicación y, en casos severos, la muerte.</p>
                    <br>
                <p>Las mediciones se expresan típicamente en partes por millón (ppm) o miligramos por metro cúbico (mg/m³).</p>
                    <br>
                <p>
                <strong>Niveles seguros (buenos):</strong>
                <li>0-2 ppm: Considerados normales y seguros para la salud.</li>
                    <br>
                <strong>Niveles de alerta (moderados):</strong>
                <li>2-9 ppm: Puede ser necesario tomar precauciones, especialmente en espacios cerrados o mal ventilados.</li>
                    <br>
                <strong>Niveles peligrosos (malos):</strong>
                <li>9-35 ppm: Exposición prolongada puede causar efectos adversos en la salud, incluyendo dolores de cabeza y mareos.</li>
                <li>Más de 35 ppm: Puede causar síntomas más graves y potencialmente mortales, especialmente con exposición prolongada.</li>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('puntoRocio')">Punto de rocío</button>
            <div id="puntoRocio" class="content">
                <p>El punto de rocío es la temperatura a la cual el aire debe enfriarse (a presión constante) para que 
                    el vapor de agua presente en él se condense en forma de agua líquida. Es un indicador clave de la 
                    humedad en el aire. Cuando la temperatura del aire desciende hasta el punto de rocío, la humedad 
                    relativa alcanza el 100%, lo que significa que el aire está completamente saturado con vapor de 
                    agua.</p>
                    <br>
                <p>El punto de rocío se mide en grados Celsius (°C). Esta medida representa la temperatura a la que el
                    aire se satura y comienza a condensarse en forma de agua.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('humedadRelativa')">Humedad relativa</button>
            <div id="humedadRelativa" class="content">
                <p>La humedad relativa es la cantidad de vapor de agua presente en el aire en comparación con la cantidad 
                    máxima que el aire puede contener a una temperatura específica. Se expresa como un porcentaje (%).
                </p>
                    <br>
                <p>
                    Por ejemplo, una humedad relativa del 50% significa que el aire contiene la mitad de la cantidad de 
                    vapor de agua que podría sostener a esa temperatura.
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('dioxidoNitrógeno')">Dióxido de nitrógeno (NO₂)</button>
            <div id="dioxidoNitrógeno" class="content">
                <p>El dióxido de nitrógeno es un gas contaminante que se forma principalmente a partir de la 
                    combustión de combustibles fósiles, como en vehículos y centrales eléctricas. Es un componente 
                    importante del smog y puede tener efectos negativos en la salud humana y el medio ambiente, 
                    contribuyendo a problemas respiratorios y a la formación de lluvia ácida.
                </p>
                <br>
                <p>El dióxido de nitrógeno se mide generalmente en partes por millón (ppm) o microgramos por metro
                    cúbico (µg/m³).
                </p>
                <br>
                <p>
                    <strong>Niveles buenos (baja contaminación):</strong>
                        <li>0 - 40 µg/m³ (0 - 0.02 ppm): El aire es considerado limpio y no presenta riesgos para la salud.</li>
                            <br>
                    <strong>Niveles moderados:</strong>
                        <li>41 - 80 µg/m³ (0.02 - 0.04 ppm): Puede haber algún riesgo para grupos sensibles, como personas 
                            con asma o problemas respiratorios, pero el público en general no suele verse afectado.</li>
                            <br>
                    <strong>Niveles altos (mala calidad del aire):</strong>
                        <li>81 - 180 µg/m³ (0.04 - 0.09 ppm): Los efectos en la salud pueden comenzar a ser evidentes, 
                            especialmente para personas vulnerables. Se recomienda limitar actividades al aire libre.</li>
                            <br>
                    <strong>Niveles muy altos (alta contaminación):</strong>
                        <li>181 µg/m³ o más (0.09 ppm o más): Puede haber efectos adversos en la salud para la población 
                            general. Se aconseja evitar la exposición prolongada y actividades al aire libre.</li>
                </p>
            </div>  
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('ozono')">Ozono (O₃)</button>
            <div id="ozono" class="content">
                <p>El ozono es un gas que se encuentra en la atmósfera y tiene un papel dual. En la estratosfera, 
                    el ozono forma la capa de ozono, que protege la Tierra de la radiación ultravioleta del sol. 
                    Sin embargo, en la troposfera (donde respiramos), el ozono es un contaminante que se forma a 
                    partir de reacciones químicas entre contaminantes como óxidos de nitrógeno y compuestos orgánicos 
                    volátiles, especialmente en presencia de luz solar.
                </p>
                <br>
                <p>El ozono se mide en partes por millón (ppm) o microgramos por metro cúbico (µg/m³)</p>
                <br>
                <p>
                    <strong>Niveles buenos (baja contaminación):</strong>
                        <li>0 - 50 µg/m³ (0 - 0.025 ppm): El aire es considerado limpio y no presenta riesgos para la salud.</li>
                            <br>
                    <strong>Niveles moderados:</strong>
                        <li>51 - 100 µg/m³ (0.025 - 0.05 ppm): Puede haber un riesgo bajo para grupos sensibles, como personas
                             con problemas respiratorios. La mayoría de las personas no se ven afectadas.</li>
                            <br>
                    <strong>Niveles insalubres (alta contaminación):</strong>
                        <li>101 - 180 µg/m³ (0.05 - 0.09 ppm): Se pueden observar efectos en la salud en grupos sensibles. 
                            Se recomienda limitar actividades al aire libre.</li>
                            <br>
                    <strong>Niveles muy altos (mala calidad del aire):</strong>
                        <li>181 - 240 µg/m³ (0.09 - 0.12 ppm): Puede haber efectos adversos en la salud para la población 
                            general. Se aconseja evitar la exposición prolongada y actividades al aire libre.</li>
                            <br>
                    <strong>Niveles peligrosos (alta contaminación):</strong>
                        <li>241 µg/m³ o más (0.12 ppm o más): Los efectos adversos son significativos para todos, y se 
                            recomienda evitar la actividad física al aire libre.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('presionAtmosferica')">Presión atmosférica</button>
            <div id="presionAtmosferica" class="content">
                <p>La presión atmosférica es el peso del aire que se encuentra sobre una superficie en un momento dado. 
                    Es el resultado de la fuerza que ejercen las moléculas de aire al colisionar con una superficie. 
                    La presión atmosférica varía según la altitud y las condiciones meteorológicas.
                </p>
                <br>
                <p>La presión atmosférica se mide en hectopascales (hPa) y el valor que se obtiene tiene 
                    varias implicaciones sobre las condiciones del aire en la ciudad.
                </p>
                <br>
                <p>
                    <strong>Presión baja (700 hPa y menos):</strong>
                        <li>Puede estar relacionado con condiciones climáticas inestables, tormentas o mal tiempo.</li>
                            <br>
                    <strong>Presión media (800-900 hPa):</strong>
                        <li>Común en ciudades a gran altitud, indica condiciones relativamente estables.</li>
                            <br>
                    <strong>Presión alta (1000 hPa y más):</strong>
                        <li>Generalmente sugiere un sistema de alta presión, que suele estar asociado con buen tiempo.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('pm10')">PM10</button>
            <div id="pm10" class="content">Información sobre PM10.</div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('pm25')">PM2.5</button>
            <div id="pm25" class="content">Información sobre PM2.5.</div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('lluvia')">Lluvia (precipitación)</button>
            <div id="lluvia" class="content">
                <p>La precipitación se refiere al agua que cae desde la atmósfera a la superficie de la Tierra en 
                    forma de lluvia, nieve, aguanieve o granizo. La forma más común de precipitación en climas 
                    templados es la lluvia.
                </p>
                <br>
                <p>La precipitación se mide principalmente en centímetros (cm)</p>
                <br>
                <p>Por ejemplo, si se dice que ha caído 1 cm de lluvia, significa que, si se distribuyera uniformemente 
                    sobre una superficie plana y sellada, habría una capa de agua de 1 cm de altura.
                </p>
                <br>
                <p>
                    <strong>0 - 1 cm:</strong>
                        <li>Lluvias muy ligeras, generalmente sin acumulación significativa.</li>
                            <br>
                    <strong>1 - 2.5 cm:</strong>
                        <li> Lluvias ligeras a moderadas, que pueden empapar el suelo.</li>
                            <br>
                    <strong>2.5 - 5 cm:</strong>
                        <li>Lluvias fuertes, que pueden causar escorrentía y acumulación de agua.</li>
                            <br>
                    <strong>5 cm o más:</strong>
                        <li>Lluvias muy fuertes o torrenciales, que pueden causar inundaciones y otros problemas.</li>
                </p>
            </div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('dioxidoAzufre')">Dióxido de azufre</button>
            <div id="dioxidoAzufre" class="content">Información sobre el dióxido de azufre.</div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('temperatura')">Temperatura</button>
            <div id="temperatura" class="content">Información sobre la temperatura.</div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('viento')">Viento</button>
            <div id="viento" class="content">Información sobre el viento.</div>
        </div>
        <div class="dropdown">
            <button class="btn" onclick="toggleContent('rafagasViento')">Ráfagas de viento</button>
            <div id="rafagasViento" class="content">Información sobre las ráfagas de viento.</div>
        </div>
    </div>

    <script>
        function toggleContent(id) {
            const content = document.getElementById(id);
            const isVisible = content.style.display === 'block';
            content.style.display = isVisible ? 'none' : 'block';
        }
    </script>
</body>
</html>
