<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="icon" type="image/png" href="/images/logo.png">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet"/>
        <link href="/style.css" rel="stylesheet" type="text/css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <style>
        body {
            font-family: 'Roboto', sans-serif;
            background-image: url(/images/sky.jpg);
            background-size: cover;
            background-position: center;
            }
        form {
            margin-top: 40px auto;
            border-radius: 30px;
        }
        </style>
    </head>
    <header>
      <!-- Navigation Bar -->
      <nav class="bg-white shadow-md w-full">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <div class="flex items-center justify-between h-16">
                  <div class="flex items-center">
                      <a href="inicio" class="text-blue-600 text-2xl font-bold">AirSensePro</a>
                      <img src="/images/logo.png" class="ml-2" alt="logo" width="50px" />
                  </div>
                  <div class="md:block">
                      <div class="ml-10 flex items-baseline space-x-4">
                          <a href="inicio" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Home</a>
                          <a href="about" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">About us</a>
                          <a href="documents" class="text-gray-600 hover:text-blue-600 px-3 py-2 rounded-md text-sm font-medium">Documents</a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
  </header>
  
  <body class="bg-gray-100 flex flex-col min-h-screen">
      <div class="flex-grow flex items-center justify-center">
          <div class="bg-white p-6 rounded-lg shadow-lg w-full max-w-sm border">
              <h1 class="text-green-600 text-5xl font-bold">Registrarse en AirSensePro</h1>
              <br><br>
              <form id="registroForm">
                  <div class="mb-4">
                      <input type="text" name="nom" id="nom" placeholder="Nombre de Usuario" required class="w-full p-3 border border-gray-300 rounded-lg" />
                  </div>
                  <div class="mb-4">
                      <input type="email" name="correo" id="correo" placeholder="Correo electrónico" required class="w-full p-3 border border-gray-300 rounded-lg" />
                  </div>
                  <div class="mb-4">
                      <input type="password" name="pass" id="pass" placeholder="Contraseña" required class="w-full p-3 border border-gray-300 rounded-lg" />
                  </div>
                  <input type="submit" value="Registrar" class="w-full bg-green-600 text-white p-3 rounded-lg font-bold">
              </form>
              <div id="mensaje" class="mt-4"></div>
          </div>
      </div>
  
      <script>
          document.getElementById('registroForm').addEventListener('submit', function(event) {
              event.preventDefault(); // Prevenir el envío del formulario
  
              // Obtener los valores del formulario
              const nombre = document.getElementById('nom').value;
              const correo = document.getElementById('correo').value;
              const contrasena = document.getElementById('pass').value;
  
              // Enviar los datos al servidor usando fetch
              fetch('/validar', {
                  method: 'POST',
                  headers: {
                      'Content-Type': 'application/json',
                  },
                  body: JSON.stringify({
                      nom: nombre,
                      correo: correo,
                      pass: contrasena,
                  }),
              })
              .then(response => response.json())
              .then(data => {
                  // Mostrar el mensaje en la página
                  document.getElementById('mensaje').innerText = data.mensaje;
  
                  // Redirigir a la pestaña de inicio si el registro es exitoso
                  if (data.mensaje === 'Registro exitoso, por favor espere') {
                      setTimeout(() => {
                          window.location.href = 'inicio'; // Redirigir a inicio
                      }, 2000); // Esperar 2 segundos antes de redirigir
                  }
              })
              .catch((error) => {
                  console.error('Error:', error);
                  document.getElementById('mensaje').innerText = 'Error al registrar el usuario.';
              });
          });
      </script>
  </body>
  
</html>